### Import libraries

In [113]:
import pandas as pd
import numpy as np

### Import and Check Dataset

In [73]:
data = pd.read_csv("../app/resources/all_movies.csv")

### Summarize the data

In [74]:
data.head(2)

,MovieID,imdbID,Title,Year,Rated,Runtime,Genre,Released,Director,Writer,...,Fresh,Rotten,Consensus,userMeter,userRating,userReviews,DVD,BoxOffice,Production,Website
0,4972,tt0004972,The Birth of a Nation,1915,Not Rated,165,"Drama, History, Romance",3/3/1915,D.W. Griffith,"Thomas F. Dixon Jr. (adapted from his novel: ""...",...,38,0,"Racial depictions aside, The Birth of a Nation...",58.0,3.3,4034.0,6/29/2004,NaN,Gravitas,NaN
1,6206,tt0006206,Les vampires,1915,Not Rated,399,"Action, Adventure, Crime",11/13/1915,Louis Feuillade,Louis Feuillade,...,13,0,NaN,85.0,3.8,2075.0,5/16/2000,NaN,NaN,NaN

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12569 entries, 0 to 12568
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MovieID      12569 non-null  int64
 1   imdbID       12569 non-null  object
 2   Title        12569 non-null  object
 3   Year         12569 non-null  int64
 4   Rated        10353 non-null  object
 5   Runtime      12569 non-null  int64
 6   Genre        12548 non-null  object
 7   Released     12381 non-null  object
 8   Director     12549 non-null  object
 9   Writer       11852 non-null  object
 10  Cast         12412 non-null  object
 11  Metacritic   7649 non-null   float64
 12  imdbRating   12549 non-null  float64
 13  imdbVotes    12548 non-null  float64
 14  Language     12340 non-null  object
 15  Country      12392 non-null  object
 16  Awards       9581 non-null   object
 17  Oscars       12569 non-null  int64
 18  Image        12569 non-null  object
 19  Rating10     12569 non-null  float64
 20  Meter        12569 non-null  int64
 21  Reviews      12569 non-null  int64
 22  Fresh        12569 non-null  int64
 23  Rotten       12569 non-null  int64
 24  Consensus    5537 non-null   object
 25  userMeter    12478 non-null  float64
 26  userRating   12358 non-null  float64
 27  userReviews  12557 non-null  float64
 28  DVD          11577 non-null  object
 29  BoxOffice    4189 non-null   float64
 30  Production   11451 non-null  object
 31  Website      6747 non-null   object
dtypes: float64(8), int64(8), object(16)
memory usage: 3.1+ MB

### check the rating categories

In [76]:
data.Rated.value_counts()

R            4576
PG-13        2140
PG           1417
Not Rated     877
Unrated       502
Approved      347
G             276
TV-PG          58
NC-17          39
TV-G           32
X              32
TV-14          18
TV-MA          11
Atp             5
13              4
15              2
14              2
AL              2
M               2
6               2
U               2
15A             1
All             1
12              1
18              1
PG13            1
MA15+           1
12A             1
Name: Rated, dtype: int64

In [80]:
data.loc[(data.Rated == "Unrated") | (data.Rated == "13") | (data.Rated == "6") | (data.Rated == "15") | (data.Rated == "14") |
         (data.Rated == "18") | (data.Rated == "12") | (data.Rated == "15") | (data.Rated == "15") ] = "Not Rated"
data.loc[data.Rated == "X"] = "NC-17"
data.loc[(data.Rated == "Atp") | (data.Rated == "All") | (data.Rated == "U")] = "G"
data.loc[data.Rated == "M"] = "TV-MA"
data.loc[(data.Rated == "PG13")] = "PG-13"

Now the data is cleaned

In [81]:
data.Rated.value_counts()

R            4576
PG-13        2141
PG           1417
Not Rated    1391
Approved      347
G             284
NC-17          71
TV-PG          58
TV-G           32
TV-14          18
TV-MA          13
AL              2
MA15+           1
12A             1
15A             1
Name: Rated, dtype: int64

In [82]:
data.loc[data.Rated == "AL"]

,MovieID,imdbID,Title,Year,Rated,Runtime,Genre,Released,Director,Writer,...,Fresh,Rotten,Consensus,userMeter,userRating,userReviews,DVD,BoxOffice,Production,Website
7942,436978,tt0436978,Yang Ban Xi: The 8 Modelworks,2005,AL,90,Documentary,9/29/2005,Yan Ting Yuen,Yan Ting Yuen,...,13,7,NaN,86,3.8,237,4/10/2007,NaN,Shadow Distribution,NaN
11642,1787810,tt1787810,The Flaw,2011,AL,78,Documentary,6/3/2011,David Sington,NaN,...,8,2,NaN,68,3.7,172,6/13/2012,NaN,New Video Group,http://www.theflawmovie.com/

### Check Genre Categories

In [83]:
data.Genre.value_counts()

Drama                          1309
Documentary                     650
Comedy, Drama                   563
Comedy                          531
Not Rated                       514
                               ...
Family, Animation, Musical        1
Adventure, War                    1
Family, Animation, Fantasy        1
Animation, Fantasy, Romance       1
Crime, Sci-Fi                     1
Name: Genre, Length: 748, dtype: int64

Get unique categories

In [135]:
np.unique(np.concatenate(data.Genre.value_counts().index.str.split(", ")))

array(['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'G', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'NC-17',
       'News', 'Not Rated', 'PG-13', 'Romance', 'Sci-Fi', 'Short',
       'Sport', 'TV-MA', 'Thriller', 'War', 'Western'], dtype='<U11')